<footer>
  <section class="footer__feedback">
    <div class="container">
      <p>
        <%= link_to(body: "Give feedback about this page", url: "https://umich.qualtrics.com/jfe/form/SV_bCwYIKueEXs8wBf", open_in_new: true) %>
      </p>
    </div>
  </section>
  <section class="footer__information">
    <div class="viewport-container">
      <nav aria-label="Footer">
        <ul>
          <li>
            <%= link_to(body: "Home", url: "/everything") %>
          </li>
          <li>
            <%= link_to(body: "Accessibility", url: "/accessibility") %>
          </li>
          <li>
            <%= link_to(body: "Tips for Using Library Search", url:"https://guides.lib.umich.edu/c.php?g=914690") %>
          </li>
          <li>
            <%= link_to(body: "Get research help", url: "https://lib.umich.edu/research-and-scholarship/help-research/how-we-can-help") %>
          </li>
          <li>
            <%= link_to(body: "About Library Search", url: "/about-library-search") %>
          </li>
          <li>
            <%= link_to(body: "Make an <abbr title=\"Interlibrary Loan\">I.L.L.</abbr> Request", url: "https://ill.lib.umich.edu/") %>
          </li>
        </ul>
      </nav>
      <p>&copy;<%= Time.now.year %> Regents of the University of Michigan. For details and exceptions, see the <%= link_to(body: "Copyright Policy", url: "https://lib.umich.edu/about-us/policies/copyright-policy") %>.</p>
    </div>
  </section>
  <m-chat id="chat" tabindex="-1"></m-chat>
</footer>
