<nav class="skip-links" aria-label="Skip links">
  <ul class="viewport-container">
    <li>
      <%= link_to(body: "Skip to main content", url: "#maincontent") %>
    </li>
    <li>
      <%= link_to(body: "Skip to Ask a Librarian chat", url: "#chat") %>
    </li>
  </ul>
</nav>
<m-universal-header></m-universal-header>
<m-website-header name="Search" variant="dark">
  <nav aria-label="Utility" class="viewport-container">
    <%= erb :'partials/header/_logo' %>
    <ul>
      <li>
        <%= link_to(body: "Account", url: "https://account.lib.umich.edu/", classes: ["underline__none"]) %>
      </li>
      <li>
        <%= login %>
      </li>
      <li>
        <%= erb :'partials/header/_choose-affiliation', locals: { current_affiliation: @patron.affiliation } %>
      </li>
    </ul>
  </nav>
</m-website-header>
<%= erb :'partials/header/_search' %>
<%= erb :'partials/header/_navigation' %>
<%= erb :'partials/header/_flint-message' %>
<div class="logo__print">
  <%= erb :'partials/header/_logo' %>
</div>
