<p class="landing__content--summary">
  Search <span class="strong">Everything</span> to see a broad sampling of results from across 'Library Search' and to explore specific areas and records in greater detail.
</p>
<p>
  You will see results from the <%= link_to(body: "Catalog", url: "/catalog") %>, <%= link_to(body: "Articles", url: "/articles") %>, <%= link_to(body: "Databases", url: "/databases") %>, <%= link_to(body: "Online Journals", url: "/onlinejournals") %>, and <%= link_to(body: "Guides and More", url: "/guidesandmore") %> pages.
</p>
<p>
  Enter a search term in the search box to start your own Everything search.
</p>
